/**
 * Default theme css
 */

header.container {
    margin-top: 100px;
}


main.container {
    background-color: #ffffff;
    margin-top: 15px;
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/**
 * Form label right position
 */
@media (min-width: 768px) {
    label.control-label {
        padding-top: 7px;
        text-align: right;
        font-weight: bolder;
    }

    main.container {
        min-height: 500px!important;
    }
}

/** Article styles **/
.article-item {margin:0 0 40px 0; padding:0 0 40px 0}
.article-border {border-bottom:1px solid #eee}
.article-item img {max-width:100%; border-radius:3px; padding-left: 5px;}
.article-item .continue {display:inline-block; margin:0;}

/** Full-width device styles */
@media (min-width:768px) {
    .article-item .meta {padding:10px 10px; margin:0 0 15px 0;border-bottom:1px solid #eee;border-top:1px solid #eee; }
    .article-item .meta i.spaced {margin:0 10px 0 0}
    .article-item .meta span.spaced {margin:0 10px 0 0;}
    .article-item .meta a:not(.badge) {color:#999}
    .article-item .meta a.label {color: #FFFFFF;}
    .article-item h1 a, .article-item h2 a, .article-item h3 a {color:#323740;}

    div.body-container {min-height: 500px;}
    .object-text {min-height: 40px;}
    .image_poster {float: left; margin: 0 5px;}
    .text-center > img {
        margin: 0 auto;
    }

    .widget-comment-text {
        quotes: "«" "»";
    }
    .widget-comment-text:before{
        content: open-quote;
    }
    .widget-comment-text:after {
        content: close-quote;
    }
}
/** Mobile device styles */
@media (max-width: 768px) {
    .article-item .meta {
        padding: 5px 10px 10px;
    }
    .article-item h1 a, .article-item h2 a, .article-item h3 a {
        color:#323740;
        text-decoration: underline;
    }

    .article-item .meta .pull-right {
        float: left !important;
    }
    .navbar-toggle {
        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 3px;
    }
}

/** Comment styles */
.page-comment::before,
.page-comment::after{
    content: "";
    display: table;
    clear: both;
}

.page-comment ul {
    list-style-type: none;
    padding: 0;
}

.page-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.page-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    max-width: 70px;
    max-height: 90px;
}

.page-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
}

.page-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.page-comment ul.comments ul {
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.page-comment .meta a {
    color: #82b440;
    text-decoration: none;
}

.page-comment blockquote {
    font-size: 11px;
    background-color: #f8f8f8;
}

.comment-text ul {
    list-style-type: circle !important;
    margin-left: 40px !important;
}
.comment-text {
    overflow: auto;
    max-height: 250px;
}

.comment-text img {
    max-height: 150px;
    max-width: 150px;
}

.premoderate-comment {
    color: #e3516a;
}

.object-lightborder {
    border: 1px solid #eee;
    border-radius:5px;
    padding: 5px;
    margin-top: 5px;
}

.wall-answer {
    border: 1px solid #eee;
    border-radius:5px;
    padding: 5px;
    margin-top: 3px;
}

.well-light {
    background-color: #ecf0f1;
    padding: 5px;
}

/** Message list styling */
.media-person {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 5px;
}

.media-person-selected {
    background-color: #27ae60;
    color: #FFFFFF;
}

.media-person-blocked {
    color: #e42034 !important;
}

.media-person-uname {
    font-size: 16px;
    color: #000000;
}

.media-person-blocked .media-person-uname {
    color: #812127 !important;
}

.message-scroll-body {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-text {
    background-color: #d1ddec;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px;
}

.message-text-remote {
    background-color: #eeeeee;
}

.image-item {
    height: 100px;
    margin: 0 auto;
}

/**
 * Notification style
 * @link http://bootsnipp.com/snippets/featured/simple-card-alerts
 */
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-new {
    border-color: #45ABCD;
    background-color: #f4e3e5;
}

/** footer styles */
footer p {
    color: #a0a0a0;
}

footer p > a {
    color: #000;
}

/** Search results */
.search-result {
    border-left: 1px #00ad9c solid;
    padding-left: 5px;
}

.search-highlight {
    background-color: #ffe1a5;
}

/** lastcomment styles */
.short-comment {
    padding-bottom: 5px;
    border-bottom: 1px solid #cfcfcf;
}

.card-body a:not(.badge) {
    color: #363676;
}

.card-body a:hover, .card-body a:focus {
    color: #9b4038;
}