/** Default ffcms theme.
** Developed by zenn, Pyatinskyi Mihail, 2015 &copy;
**/
body {
    background: #f3f5f8;
    height: 100%;
    word-wrap: break-word;
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

div.account-container {
    margin-top: 5px;
}

ul.account-list > li {
    padding-right: 0;
    padding-left: 0;
}

ul.account-list > li > a {
    font-size: 16px;
    color: #999;
    padding: 10px;
}

ul.account-list > li.active > a {
    background: #1bbc9b;
    color: #ffffff;
}

ul.account-list > li > a:hover {
    color: #000000;
    background: #DDDDDD;
}

div.body-container {
    background: #fff;
    padding-bottom: 25px;
}

div.header-block {
    padding-top: 10px;
}

div.site-name {
    font-size: 36px;
}

.on-h1-use {
    padding-top: 10px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.content-container {
    padding-left: 25px;
}

/** Custom h1-h6 tag size */
h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5,h6 {
    font-size: 16px;
}

/** Footer */
footer {
    padding-top: 20px;
    color: #aaaaaa;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

/** Custom menu style */

.navbar {
    min-height: 40px !important;
}

.navbar-brand {
    height: 40px !important;
    padding: 10px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.navbar-nav > li > a {
    padding: 10px !important; /** bottom - 10, upper - 10, a:text = 20 == 40 */
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #ffffff;
    background: #31668d;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    background: #a2a2a2;
    color: #000000;
}

.navbar-default .navbar-nav > li.active > a {
    color: #ffffff;
    background: #1bbc9b;
}

.navbar-default {
    background-color: #31668d;
    border-color: #e7e7e7;
}

/** Custom panel style's */

.panel {
    border: 0 !important;
}

.panel-primary {
    border-color: #31668d;
}

.panel-primary>.panel-heading {
    border-color: #31668d;
    background-color: #31668d;
}


/** Some media screen adaptive */

@media (min-width:768px) {
    div.body-container {
        min-height: 500px;
    }
}