/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  padding-top: 70px;
  background-color: #fff;
  background-image: url(../img/grid-bg.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}

.container-content {
	padding-top: 5px;
	padding-bottom: 30px;
	min-height: 500px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right:  5px solid transparent;
    border-bottom: 5px solid;
    border-left:   5px solid transparent;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.content-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.article-item {margin:0 0 40px 0; padding:0 0 40px 0; border-bottom:1px solid #eee}
.article-item img {max-width:100%; border-radius:3px; margin:0 0 20px 0}
.article-item .meta {padding:10px 10px; margin:0 0 15px 0;border-bottom:1px solid #eee;border-top:1px solid #eee; }
.article-item .meta i {margin:0 10px 0 0}
.article-item .meta span {margin:0 20px 0 0;}
.article-item .meta a {color:#999}
.article-item .continue {display:inline-block; margin:0;}
.article-item h1 a, .article-item h2 a, .article-item h3 a {color:#323740;}

.image_poster {
    float: left;
    padding-right: 10px;
}

hr.commenttype {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

ul.side-links {
    margin: 0;
    list-style: none;
    padding: 0;
}

ul.side-links > li {
    border-bottom: 1px solid #eeeeee;
}

ul.side-links > li i {
    margin: 0 10px 0 0;
}

ul.side-links > li > a {
    color: #666666;
    line-height: 40px;
    padding: 0 0 0 20px;
    background: url("../img/arrow1.png") no-repeat 5px center;
}

ul.side-links > li > ul {
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.side-links > li > ul > li > a {
    background: #F7F7F7;
    border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    display: block;
    line-height: 35px;
    padding: 0 20px;
    font-size: 0.9em;
}

ul.side-links > li > ul > li:last-child > a {
    border: medium none;
}

ul.side-links > li > .toggle-children {
    background: #FBFBFB;
    color: #888;
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 10px 0 0 0;
    text-align: center;
    width: 20px;
}

ul.side-links > li > .toggle-children:hover {
    background: #eeeeee;
}

ul.side-links > li > .toggle-children:before {
    content: "+";
}

ul.side-links > li > .toggle-children.open:before {
    content: "-";
}
.wysibb {
    font-size: 14px !important;
}