/** Default ffcms theme.
** Developed by zenn, Pyatinskyi Mihail, 2015 &copy;
**/
body {
    background: #f3f5f8;
    height: 100%;
    word-wrap: break-word;
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

hr.pretty {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

div.account-container {
    margin-top: 5px;
}

ul.account-list > li {
    padding-right: 0;
    padding-left: 0;
}

ul.account-list > li > a {
    font-size: 16px;
    color: #999;
    padding: 10px;
}

ul.account-list > li.active > a {
    background: #1bbc9b;
    color: #ffffff;
}

ul.account-list > li > a:hover {
    color: #000000;
    background: #DDDDDD;
}

div.body-container {
    background: #fff;
    padding-bottom: 25px;
}

div.header-block {
    padding-top: 10px;
}

div.site-name {
    font-size: 36px;
}

.on-h1-use {
    padding-top: 10px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.content-container {
    padding-left: 25px;
}

/** Article styles **/
.article-item {margin:0 0 40px 0; padding:0 0 40px 0; border-bottom:1px solid #eee}
.article-item img {max-width:100%; border-radius:3px; padding-left: 5px;}
.article-item .continue {display:inline-block; margin:0;}

/** Full-width device styles */
@media (min-width:768px) {
    .article-item .meta {padding:10px 10px; margin:0 0 15px 0;border-bottom:1px solid #eee;border-top:1px solid #eee; }
    .article-item .meta i.spaced {margin:0 10px 0 0}
    .article-item .meta span.spaced {margin:0 10px 0 0;}
    .article-item .meta a {color:#999}
    .article-item .meta a.label {color: #FFFFFF;}
    .article-item h1 a, .article-item h2 a, .article-item h3 a {color:#323740;}

    div.body-container {min-height: 500px;}
    .object-text {min-height: 40px;}
    .image_poster {float: left; margin: 0 5px;}
    .text-center > img {
        margin: 0 auto;
    }
}
/** Mobile device styles */
@media (max-width: 768px) {
    .article-item .meta {
        padding: 5px 10px 10px;
    }
    .article-item h1 a, .article-item h2 a, .article-item h3 a {
        color:#323740;
        text-decoration: underline;
    }

    .article-item .meta .pull-right {
        float: left !important;
    }
    .navbar-toggle {
    	margin-top: 3px;
		margin-right: 10px;
		margin-bottom: 3px;
    }
}

/** Custom h1-h6 tag size */
h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5,h6 {
    font-size: 16px;
}

/** Footer */
footer {
    padding-top: 20px;
    color: #aaaaaa;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

/** Custom menu style */

.navbar {
    min-height: 40px !important;
}

.navbar-brand {
    height: 40px !important;
    padding: 10px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.navbar-nav > li > a {
    padding: 10px !important; /** bottom - 10, upper - 10, a:text = 20 == 40 */
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #ffffff;
    background: #31668d;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    background: #a2a2a2;
    color: #000000;
}

.navbar-default .navbar-nav > li.active > a {
    color: #ffffff;
    background: #1bbc9b;
}

.navbar-default {
    background-color: #31668d;
    border-color: #e7e7e7;
}

/** Custom panel style's */

.panel {
    border: 0 !important;
}

.panel-primary {
    border-color: #31668d;
}

.panel-primary>.panel-heading {
    border-color: #31668d;
    background-color: #31668d;
}

label.error {
    color: #a94442;
}

.object-lightborder {
    border: 1px solid #eee;
    border-radius:5px;
    padding: 5px;
    margin-top: 5px;
}

.wall-answer {
    border: 1px solid #eee;
    border-radius:5px;
    padding: 5px;
    margin-top: 3px;
}

.well-light {
    background-color: #ecf0f1;
    padding: 5px;
}

/** Message list styling */
.media-person {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 5px;
}

.media-person-selected {
    background-color: #27ae60;
    color: #FFFFFF;
}

.media-person-blocked {
    color: #e42034 !important;
}

.media-person-uname {
    font-size: 16px;
    color: #000000;
}

.media-person-blocked .media-person-uname {
    color: #812127 !important;
}

.message-scroll-body {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-text {
    background-color: #d1ddec;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px;
}

.message-text-remote {
    background-color: #eeeeee;
}

.image-item {
    height: 100px;
    margin: 0 auto;
}

/** Comment styles */
.page-comment::before,
.page-comment::after{
    content: "";
    display: table;
    clear: both;
}

.page-comment ul {
    list-style-type: none;
    padding: 0;
}

.page-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.page-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.page-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
}

.page-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.page-comment ul.comments ul {
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.page-comment .meta a {
    color: #82b440;
    text-decoration: none;
}

.page-comment blockquote {
    font-size: 11px;
    background-color: #f8f8f8;
}

.comment-text ul {
    list-style-type: circle !important;
    margin-left: 40px !important;
}
.comment-text {
    overflow: auto;
    max-height: 250px;
}

.premoderate-comment {
	color: #e3516a;
}