# ignore phpstorm files
.idea
# composer vendors
/vendor
# ignore personal configurations, cache and sessions
/Private/Config/
/Private/Sessions/
/Private/Cache/
/Private/Install/
# ignore composer build
composer.lock
