AddDefaultCharset utf-8
Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php


RewriteEngine On
RewriteRule ^.htaccess$ - [F]
# do not rewrite statics, vendor, uploads and other ;)
RewriteRule ^vendor - [L,NC]
RewriteRule ^View - [L,NC]
# admin interface
RewriteRule ^admin/(.*)$ Public/Admin/$1 [L]
# API interface
RewriteRule ^api/(.*)$ Public/Api/$1 [L]
# front main interface
RewriteRule ^(.*)$ Public/Front/$1 [L]

<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>