AddDefaultCharset utf-8
Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php


RewriteEngine On
RewriteRule ^.htaccess$ - [F]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]