.nav-tabs {
    border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 0;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #dddddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 0 0 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 0;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #428bca;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs-justified {
    border-bottom: 0;
}
.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 0;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #dddddd;
}
@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 0 0 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nav-tabs > li > a > .badge,
.nav-pills > li > a > .badge,
.nav-tabs > li > a > .label,
.nav-pills > li > a > .label {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    margin: 0 -5px -100px 5px;
    padding: 0 6px;
    line-height: 14px;
    top: 0;
}
.nav-tabs > li > a > .label,
.nav-pills > li > a > .label {
    padding-left: 4px;
    padding-right: 4px;
}
.nav-tabs > li > a > .badge.badge-success,
.nav-pills > li > a > .badge.badge-success,
.nav-tabs > li > a > .label.label-success,
.nav-pills > li > a > .label.label-success {
    background-color: #5ebd5e;
}
.nav-tabs > li > a > .badge.badge-warning,
.nav-pills > li > a > .badge.badge-warning,
.nav-tabs > li > a > .label.label-warning,
.nav-pills > li > a > .label.label-warning {
    background-color: #f4b04f;
}
.nav-tabs > li > a > .badge.badge-danger,
.nav-pills > li > a > .badge.badge-danger,
.nav-tabs > li > a > .label.label-danger,
.nav-pills > li > a > .label.label-danger {
    background-color: #a90329;
}
.nav-tabs > li > a > .badge.badge-info,
.nav-pills > li > a > .badge.badge-info,
.nav-tabs > li > a > .label.label-info,
.nav-pills > li > a > .label.label-info {
    background-color: #5bc0de;
}
.nav-tabs:not(.nav-tabs-simple) > li.active > a > .badge,
.nav-pills > li.active > a > .badge,
.nav-tabs:not(.nav-tabs-simple) > li.active > a > .label,
.nav-pills > li.active > a > .label {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    color: #fff;
}
.nav-tabs.nav-justified > li > a,
.nav-pills.nav-justified > li > a {
    margin: 0;
}
.nav-tabs.nav-tabs-sm > li > a > .badge,
.nav-tabs.nav-tabs-sm > li > a > .label {
    margin-left: 4px;
    margin-right: -4px;
}
.nav-tabs.nav-tabs-xs > li > a {
    font-size: 12px;
}
.nav-tabs.nav-tabs-xs > li > a > .badge,
.nav-tabs.nav-tabs-xs > li > a > .label {
    padding-left: 4px;
    padding-right: 4px;
    line-height: 13px;
    font-size: 10px;
    margin-left: 3px;
    margin-right: -3px;
    top: -1px;
}
.nav-tabs.nav-tabs-xs > li > a > .label {
    padding-left: 3px;
    padding-right: 3px;
}
.nav-tabs {
    border-bottom: 2px solid #dddddd;
}
.nav-tabs > li > a {
    background-color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    border-bottom: 2px solid #dddddd;
    color: #777;
    margin: 0 6px -1px 0;
    padding: 8px 20px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active {
    background-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: #d0d0d0;
    color: #333333;
}
.nav-tabs > li > a > .fa-caret-down {
    font-size: 12px;
}
.nav-tabs > li.dropdown.open > a:focus {
    border-bottom: 2px solid #dddddd;
}
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
    border: none;
    color: #fff;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 2px solid #dddddd;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.nav-tabs.nav-stacked > li > a {
    margin: 0;
    border-bottom-width: 1px !important;
}
.nav-tabs.nav-stacked > li:last-child > a {
    border-bottom-width: 0 !important;
}
.nav-tabs.nav-stacked > li:last-child.active > a {
    border-bottom-width: 2px !important;
    margin-bottom: -3px;
}
.nav-tabs.nav-stacked > li:not(:first-child):not(:last-child) > a {
    border-radius: 0;
}
.nav-tabs.nav-tabs-simple > li > a {
    background-color: transparent !important;
    margin-right: 0;
}
.nav-tabs.nav-tabs-simple > li.active > a {
    color: #333333 !important;
}
.nav-tabs.nav-tabs-sm > li > a {
    padding: 6px 15px;
}
.nav-tabs.nav-tabs-xs > li > a {
    padding: 4px 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #1d89cf;
    border-bottom: 2px solid #1a7ab9;
}
.nav-tabs .nav-tabs.nav-justified > .active > a {
    border-bottom-color: #1a7ab9;
}

.nav-border > .tab-content {
    background-color: rgba(230, 245, 255, 0.15);
    border: 1px solid rgba(66, 139, 202, 0.5);
    margin-bottom:5px;
    padding: 5px 5px 0 0;
}
