/**
 * Form label right position
 */
@media (min-width: 768px) {
    label.control-label {
        padding-top: 7px;
        text-align: right;
        font-weight: bolder;
    }

    main.container {
        min-height: 500px!important;
    }
}

/***********************************************
* Backgrounds
***********************************************/
.background-default {
    background: #203A45;
}

.background-primary {
    background: #9D67AC;
}

.background-success {
    background: #41D492;
}

.background-info {
    background: #5C59ED;
}

.background-warning {
    background: #F2B51D;
}

.background-danger {
    background: #F26666;
}

.background-white {
    background: #fff;
}

/***********************************************
* Tag > Colours
***********************************************/
.badge-danger {
    background-color: #F26666;
}

.badge-primary {
    background-color: #9D67AC;
}

.badge-warning {
    background-color: #F2B51D;
    color: #fff;
}

.badge-success {
    background-color: #41D492;
}

.badge-info {
    background-color: #5C59ED;
}

/***********************************************
* Buttons
***********************************************/
.btn {
    font-size: 13px;
    padding: 9px 18px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/***********************************************
*.cards
***********************************************/
.card-border {
    border: 1px solid #ccc;
}

.card-border .card-body {
    padding: 20px;
}

.card {
    margin-bottom: .75rem;
}

a.card {
    display: block;
    color: #333;
    text-decoration: none;
}

.card.no-shadow .card-body {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.card-block {
    padding: 26px;
}

.card-heading {
    border-radius: 0;
}

.card-controls {
    float: right;
}

.card-title {
    font-size: 16px;
    margin-bottom: 0;
}

.card-body:before {
    display: table;
    content: " ";
}

.card-body:after {
    display: table;
    content: " ";
    clear: both;
}

/***********************************************
*.cards > Right to left
***********************************************/
.right-to-left .page-search-wrapper {
    float: left;
}

.right-to-left .page-title-wrapper {
    float: right;
}

.right-to-left .card-controls {
    float: left;
}

.chart-legend .item {
    margin: 0 6px 0 0;
    display: inline-block;
    font-size: 12px;
}

.chart-legend .color {
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    display: inline-block;
}

.flotTip {
    border: 0;
    border-radius: 2px;
    background: #292929;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding: 5px;
    z-index: 1;
}

#chart-pie {
    margin-bottom: 40px;
}

/***********************************************
* Colors
***********************************************/
.color-default {
    color: #203A45;
}

.color-primary {
    color: #9D67AC;
}

.color-success {
    color: #41D492;
}

.color-info {
    color: #5C59ED;
}

.color-warning {
    color: #F2B51D;
}

.color-danger {
    color: #F26666;
}

.text-muted {
    color: #818a91 !important;
}

/***********************************************
* Forms
***********************************************/
input.form-control {
    box-shadow: none;
    border-radius: 2px;
}

input.form-control-lg {
    font-size: 16px;
    font-weight: 300;
}

.form-control::-moz-placeholder {
    color: #C1C1C1;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #C1C1C1;
}

.form-control::-webkit-input-placeholder {
    color: #C1C1C1;
}

.checkbox, .radio {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

#example-color-input {
    min-height: 40px;
}

/***********************************************
* Global
***********************************************/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #EFEFEF;
    overflow-x: hidden;
    font-size: 14px;
}

a {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.fa-fw {
    display: inline-block;
}

.pull-bottom {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.full-height {
    position: relative;
    height: 100%;
    display: block;
    z-index: 1;
    width: 100%;
}

.tab-content {
    padding: 14px 10px;
}

.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pagination {
    margin: 10px 0;
}

.fade.in {
    opacity: 1;
}

.on-top {
    z-index: 10;
}

code {
    color: #203A45;
    background-color: transparent;
    border-radius: 4px;
}

.mark,
mark {
    padding: 0;
    background-color: #FFEE82;
}

.table {
    margin-bottom: 0;
}

.right-to-left .md-snackbar {
    direction: ltr;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

/***********************************************
* Grid override styles
***********************************************/
.container-fluid,
.container {
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .container-fluid {
        width: 95%;
    }

    #page-content .content-body {
        padding-top: 10px;
        min-height: 400px;
    }

    .nav-border {
        background-color: rgba(235, 240, 245, 0.15);
        border:1px solid rgba(241, 241, 241, 0.5);
        margin-bottom:5px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 95%;
    }

    .container,
    .container-fluid {
        max-width: 1480px;
    }

    .boxed .container-fluid {
        max-width: 1400px !important;
    }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

/***********************************************
* Images
***********************************************/
.thumb-lg {
    max-width: 96px;
    max-height: 96px;
}

.thumb-md {
    max-width: 64px;
    max-height: 64px;
}

.thumb-sm {
    max-width: 48px;
    max-height: 48px;
}

.img-circle {
    border-radius: 50%;
}

.no-margin {
    margin: 0;
}

/***********************************************
* Nav
***********************************************/
.nav-justified {
    width: 100%;
}

.nav-justified .nav-item {
    float: none;
}

.nav-justified .nav-link {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

@media (min-width: 768px) {
    .nav-justified .nav-item {
        display: table-cell;
        width: 1%;
    }

    .nav-justified .nav-link {
        margin-bottom: -1px;
    }
}

.nav-stacked .nav-item {
    min-width: 100%;
}

/***********************************************
* Typography
***********************************************/
.text-white {
    color: #fff;
}

.text-white .text-muted {
    color: #DBDBDB;
}

.text-sm {
    font-size: 12px !important;
}

.text-md {
    font-size: 14px !important;
}

.text-lg {
    font-size: 15px !important;
}

.text-xl {
    font-size: 20px !important;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.15rem;
}
h5 {
    font-size: 1.05rem;
}
h6 {
    font-size: 0.9rem;
}

.weight-book {
    font-weight: 300;
}

.weight-regular {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-demobold {
    font-weight: 600;
}

.weight-bold {
    font-weight: 700;
}

/***********************************************
* Footer
***********************************************/
#footer {
    margin: 12px 0 4px;
    color: #565656;
}

#footer a {
    color: #565656;
    text-decoration: none;
    opacity: 0.7;
}

#footer a:hover, #footer a:focus {
    opacity: 1;
}

/***********************************************
* Theme header styles
***********************************************/
#page-header {
    background: #203A45;
    padding: 35px 0 65px;
}

#page-header .page-title {
    color: #fff;
    margin: 0 0 6px;
    font-weight: 300;
    font-size: 38px;
}

#page-header .page-subtitle {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}

#page-header .form-control {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
}

@media (min-width: 992px) {
    #page-header {
        padding: 12px 0 92px;
    }
}

.page-search {
    margin: 16px 0;
    color: #fff;
    font-size: 16px;
}

.page-search label {
    margin: 0 16px;
    font-weight: 400;
}

.page-subtitle a {
    color: #41D492;
}

/***********************************************
* Navigation
***********************************************/
.navbar-admin {
    background-color: #203A45;
    border-color: #15272e;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .navbar-admin .container-fluid {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .navbar-admin .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-admin .navbar-nav .nav-link {
        padding: 15px;
    }
}

@media (min-width: 992px) {
    .navbar-admin #navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-admin .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
}

.navbar-admin .navbar-brand {
    color: #41D492;
}

.navbar-admin .navbar-brand:hover,
.navbar-admin .navbar-brand:focus {
    color: #41D492;
    background-color: transparent;
}

@media (min-width: 992px) {
    .navbar-admin .navbar-brand {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 54px;
        outline: 0;
    }
}

.navbar-admin .navbar-text {
    color: #ffffff;
}

.navbar-admin .navbar-nav > li > a {
    color: #c0c0c0;
}

@media (min-width: 992px) {
    .navbar-admin .navbar-nav > li > a {
        color: #c0c0c0;
        border-top: 6px solid transparent;
        padding-top: 35px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-admin .navbar-nav > li:last-child > a {
        padding-right: 0;
    }
}

.navbar-admin .navbar-nav > li > a:hover,
.navbar-admin .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-admin .navbar-nav > .active > a,
.navbar-admin .navbar-nav > .active > a:hover,
.navbar-admin .navbar-nav > .active > a:focus {
    color: #41D492;
    background-color: transparent;
}

@media (min-width: 992px) {
    .navbar-admin .navbar-nav > .active > a,
    .navbar-admin .navbar-nav > .active > a:hover,
    .navbar-admin .navbar-nav > .active > a:focus {
        color: #41D492;
        background-color: transparent;
        border-top: 6px solid #41D492;
    }
}

.navbar-admin .navbar-nav > .disabled > a,
.navbar-admin .navbar-nav > .disabled > a:hover,
.navbar-admin .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-admin .navbar-toggle {
    border-color: #dddddd;
}

.navbar-admin .navbar-toggle:hover,
.navbar-admin .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-admin .navbar-toggle .icon-bar {
    background-color: #cccccc;
}

.navbar-admin .navbar-collapse,
.navbar-admin .navbar-form {
    border-color: #15252d;
}

.navbar-admin .navbar-nav > .dropdown > a:hover .caret,
.navbar-admin .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}

.navbar-admin .navbar-nav > .open > a,
.navbar-admin .navbar-nav > .open > a:hover,
.navbar-admin .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #c0c0c0;
    border-color: transparent;
}

.navbar-admin .navbar-nav > .open.active > a,
.navbar-admin .navbar-nav > .open.active > a:hover,
.navbar-admin .navbar-nav > .open.active > a:focus {
    background-color: transparent;
    color: #41D492;
    border-color: #41D492;
}

.navbar-admin .navbar-nav > .open > a .caret,
.navbar-admin .navbar-nav > .open > a:hover .caret,
.navbar-admin .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}

.navbar-admin .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-admin .navbar-nav .dropdown-menu {
    border-radius: 2px;
    margin-top: -14px;
    width: 200px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-admin .navbar-nav .dropdown-menu.dropdown-md {
    min-width: 280px;
}

.navbar-admin .navbar-nav .dropdown-menu.dropdown-lg {
    min-width: 400px;
}

.navbar-admin .navbar-link {
    color: #ffffff;
}

.navbar-admin .navbar-link:hover {
    color: #c0c0c0;
}

.navbar-admin .avatar {
    margin: -12px 0;
}

/***********************************************
* Navbar > Dropdown
***********************************************/
.dropdown-menu > li > a {
    padding: 4px 20px;
}

.dropdown-menu > li > a .fa,
.dropdown-menu > li > a .ion {
    margin-right: 10px;
    width: 12px;
    text-align: center;
}

.dropdown-menu .media {
    border-bottom: 1px solid #E8E8E8;
}

.dropdown-menu .media:last-child {
    border-bottom: 0;
}

.dropdown-menu .media .media-left {
    padding: 14px;
}

.dropdown-menu .media .media-heading {
    margin: 10px 0 2px;
}

.dropdown-menu-footer {
    border-top: 1px solid #E8E8E8;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0 2px;
    color: #333;
    display: block;
    text-decoration: none;
}

.dropdown-menu-footer:hover, .dropdown-menu-footer:focus {
    color: #333;
    text-decoration: none;
}

@media (max-width: 991px) {
    .last-dropdown {
        left: auto;
        right: 0;
    }
}

/***********************************************
* Navbar > Disable collapsing
***********************************************/
.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar-header {
    float: left;
}

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

.navbar-nav.navbar-right {
    float: right;
}

.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

.navbar-form {
    float: left;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar-form .form-control-static {
    display: inline-block;
}

.navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
    width: auto;
}

.navbar-form .input-group > .form-control {
    width: 100%;
}

.navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
    padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
    top: 0;
}

/***********************************************
* Navbar > Fixes
***********************************************/
.collapse {
    display: none !important;
}

.collapse.show {
    display: flex !important;
}

.navbar-toggleable .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media (min-width: 576px) {
    .navbar-toggleable .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }
}

/***********************************************
* Page
***********************************************/
#page-content {
    margin-top: 20px;
}

#page-content .row > div {
    position: relative;
}

@media (min-width: 992px) {
    #page-content {
        margin-top: -56px;
    }
    .page-canvas {
        min-height: 300px;
    }

    #page-body > div {
        position: relative;
    }

    #page-sidebar,
    #page-content {
        float: left;
        position: absolute;
        min-height: 1px;
        padding-right: 6px;
        padding-left: 6px;
    }

    #page-sidebar {
        width: 20%;
    }

    #page-content {
        width: 80%;
        left: 20%;
        margin-bottom: 30px;
    }

    #page-content.full-width {
        width: 100%;
        left: 0;
    }

    .collapsed #page-content {
        width: calc(100% - 40px);
        left: 40px;
    }
}

@media (min-width: 1400px) {
    #page-sidebar {
        width: 15%;
    }

    #page-content {
        width: 85%;
        left: 15%;
    }

    .page-canvas {
        min-height: 450px;
    }

    #page-content.full-width {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991px) {
    #page-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.55);
        -moz-box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.55);
        box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.55);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #page-sidebar.toggled {
        margin-left: -250px;
    }
}

/***********************************************
* Sidebar
***********************************************/
#page-sidebar {
    font-size: 13px;
}

#page-sidebar .nav-pills {
    margin: 4px 0;
}

#page-sidebar .nav-pills > li > a {
    background: none;
    color: #565656;
    padding: 10px;
    display: block;
    text-decoration: none;
}

#page-sidebar .nav-pills > li.active > a,
#page-sidebar .nav-pills > li.active > a:focus,
#page-sidebar .nav-pills > li.active > a:hover,
#page-sidebar .nav-pills > li > a:focus,
#page-sidebar .nav-pills > li > a:hover {
    color: #000;
}

#page-sidebar i.fa,
#page-sidebar i.ion {
    font-size: 24px;
    vertical-align: -2px;
    text-align: center;
    width: 24px;
}

#page-sidebar .nav-text {
    display: inline-block;
    margin-left: 10px;
}

@media (min-width: 992px) {
    #page-sidebar {
        margin-top: -46px;
    }

    #page-sidebar > .nav-pills {
        margin: 30px 0;
    }

    #page-sidebar .nav-pills > li > a {
        padding: 10px 0;
    }

    #page-sidebar .nav-pills > li > ul > li {
        margin-left: 38px;
    }
}

.collapsed #page-sidebar .nav-text {
    display: none;
}

.sidebar-collapse {
    color: #fff;
    font-size: 30px;
    height: 40px;
    padding: 10px 0;
}

.sidebar-collapse .fa,
.sidebar-collapse .ion {
    cursor: pointer;
}

.collapsed .sidebar-collapse .show-on-collapsed,
.sidebar-collapse .hide-on-collapsed {
    display: inline-block;
}

.collapsed .sidebar-collapse .hide-on-collapsed,
.sidebar-collapse .show-on-collapsed {
    display: none;
}

.sidebar-collapse .hide-on-collapsed {
    float: right;
}

.sidebar-collapse .show-on-collapsed {
    float: left;
}

.right-to-left .collapsed .sidebar-collapse .show-on-collapsed,
.right-to-left .sidebar-collapse .hide-on-collapsed {
    display: none;
}

.right-to-left .collapsed .sidebar-collapse .hide-on-collapsed,
.right-to-left .sidebar-collapse .show-on-collapsed {
    display: inline-block;
}

/***********************************************
* Sidebar > Toggle
***********************************************/
.sidebar-open {
    position: relative;
    padding: 9px 10px;
    margin: 10px;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    color: #fff;
}

.sidebar-open:focus {
    outline: 0;
}

.sidebar-open .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
}

.sidebar-open .icon-bar + .icon-bar {
    margin-top: 4px;
}

#page-sidebar .sidebar-close i.fa,
#page-sidebar .sidebar-close i.ion {
    font-size: 28px;
}

/***********************************************
* Widgets
***********************************************/
.widget-minify,
.widget-close {
    margin: 0 2px;
    color: #9B9B9B;
}

.widget-minify:hover, .widget-minify:focus,
.widget-close:hover,
.widget-close:focus {
    color: #686868;
}

.widget {
    background: #fff;
    margin: 0 0 40px;
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 0;
}

.widget > .card-heading {
    padding: 26px;
    border: 0;
    background: #fff;
}

.widget > .card-heading .card-title {
    font-weight: 500;
    color: #203A45;
}

.widget > .card-heading .form-control {
    margin: -5px 0;
}

.widget > .card-body {
    padding: 0 15px 50px 15px;
}

/***********************************************
* Widgets > Animate
***********************************************/
.widget {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.widget.animated {
    -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

@-webkit-keyframes display {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes display {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}